body {
  font-family: Montserrat;
}

h1 {
  margin-top: 3.125rem !important;
  margin-bottom: 4.375rem !important;
  font-family: PT Sans;
  font-weight: 600;
}

header {
  padding-top: 2.5rem;
}

header::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

@media (max-width: 67.6875rem) {
  .header__inner .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center !important;
  }
}

@media (max-width: 67.75rem) {
  .header__logo {
    margin-bottom: 1.875rem !important;
  }
}

@media (max-width: 25.3125rem) {
  .header__logo {
    width: 300px;
  }
}

.geolocation {
  min-width: 283px !important;
}

@media (max-width: 67.6875rem) {
  .geolocation {
    margin: 0.9375rem 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .geolocation h6,
  .geolocation p,
  .geolocation div {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center !important;
  }
  .geolocation p {
    margin: 0.3125rem 0 !important;
  }
}

.intro-number {
  min-width: 176px !important;
}

@media (max-width: 67.75rem) {
  .intro-number div,
  .intro-number a {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (max-width: 67.75rem) {
  .dzen {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    margin: 0 !important;
  }
  .dzen div {
    margin: 0 !important;
  }
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 61, 85, 0.4)), to(rgba(24, 61, 85, 0.4))), url(../assets/img/intro-bg.jpg);
  background-image: linear-gradient(180deg, rgba(24, 61, 85, 0.4), rgba(24, 61, 85, 0.4)), url(../assets/img/intro-bg.jpg);
  background-position: 0 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: no-repeat;
}

.intro.second {
  min-height: 675px;
}

.intro__form {
  max-width: 581px;
  background-color: #074562;
  border-radius: 10px;
}

@media (max-width: 67.75rem) {
  .intro__form {
    margin-top: 1.875rem !important;
  }
}

@media (max-width: 29.9375rem) {
  .intro__form {
    padding: 0.3125rem 0.9375rem;
  }
}

.intro__form h3 {
  font-size: 1.5rem !important;
}

.intro__form p {
  max-width: 504px;
  font-size: 0.75rem !important;
}

.reviews-flamp {
  font-size: 0.9375rem !important;
}

@media (max-width: 67.75rem) {
  .reviews-flamp {
    margin-right: 0.9375rem;
  }
}

@media (max-width: 67.75rem) {
  .date-work {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .date-work p {
    margin: 0.625rem !important;
  }
}

.input__group {
  max-width: 484px;
}

.intro__input {
  max-width: 484px;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  width: 100%;
  border: none;
  border-radius: 16px;
  outline: none !important;
}

.intro__input::-webkit-input-placeholder {
  font-size: 1.25rem;
}

.intro__input:-ms-input-placeholder {
  font-size: 1.25rem;
}

.intro__input::-ms-input-placeholder {
  font-size: 1.25rem;
}

.intro__input::placeholder {
  font-size: 1.25rem;
}

.intro__text-pere {
  font-size: 3rem !important;
}

@media (max-width: 67.75rem) {
  .intro__text-pere {
    display: none;
  }
}

@media (max-width: 28.9375rem) {
  .intro__text-pere {
    font-size: 2.375rem !important;
  }
}

.intro__text {
  max-width: 620px;
  font-size: 3rem !important;
}

@media (max-width: 33.875rem) {
  .intro__text {
    font-size: 2.375rem !important;
  }
}

.intro__text-peremob {
  display: none;
  margin: 0 !important;
}

@media (max-width: 67.75rem) {
  .intro__text-peremob {
    display: block;
  }
}

.intro-btn {
  padding: 1.25rem 4.6875rem;
  background-color: #ff7141;
  border-color: #ff7141;
  border-radius: 16px;
  border: none;
  font-size: 1.25rem !important;
}

.intro-btn:hover {
  background-color: #da3700;
}

@media (max-width: 87.5rem) {
  .intro-btn {
    font-size: 1.25rem !important;
  }
}

@media (max-width: 75rem) {
  .intro-btn {
    font-size: 1rem !important;
  }
}

@media (max-width: 29.9375rem) {
  .intro-btn {
    padding: 1.25rem 1.875rem;
    font-size: 0.9375rem !important;
  }
}

.btn-wrapper {
  bottom: 0;
  left: -5%;
  padding: 0.625rem 1.25rem;
  border-radius: 16px;
  background-color: #193d55;
}

@media (max-width: 87.5rem) {
  .btn-wrapper {
    bottom: 0;
  }
}

@media (max-width: 75rem) {
  .btn-wrapper {
    bottom: 5%;
  }
}

@media (max-width: 61.9375rem) {
  .btn-wrapper {
    bottom: 0;
    left: 19%;
  }
}

@media (max-width: 48rem) {
  .btn-wrapper {
    left: 5%;
  }
}

@media (max-width: 30.5rem) {
  .btn-wrapper {
    padding: 0.3125rem 0.625rem;
    left: 15%;
  }
}

@media (max-width: 27.875rem) {
  .btn-wrapper {
    left: 10%;
  }
}

@media (max-width: 26.0625rem) {
  .btn-wrapper {
    left: 6%;
  }
}

@media (max-width: 62.1875rem) {
  .intro-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 30.4375rem) {
  .intro__phone {
    width: 300px;
  }
}

.btn-YT {
  padding: 0.625rem 1.25rem;
  padding-right: 1.875rem;
  background-color: #fff;
  border: none;
  border-radius: 16px;
  color: #000;
  -webkit-box-shadow: 0px 0px 11px 5px rgba(95, 173, 223, 0.5) !important;
          box-shadow: 0px 0px 11px 5px rgba(95, 173, 223, 0.5) !important;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(6, 57, 90, 0.5);
          box-shadow: 0px 0px 30px 0px rgba(6, 57, 90, 0.5);
}

.btn-YT h2 {
  font-size: 1.5rem !important;
  font-weight: 700;
}

.btn-YT:hover {
  color: #fff;
}

.btn-YT:hover .youtube_ico {
  fill: #fff;
}

@media (max-width: 75.0625rem) {
  .btn-YT {
    padding: 1.25rem 0.625rem;
  }
  .btn-YT h2 {
    font-size: 1.6875rem !important;
  }
}

@media (max-width: 48rem) {
  .btn-YT h2 {
    font-size: 1.5625rem !important;
  }
}

@media (max-width: 30.4375rem) {
  .btn-YT h2 {
    font-size: 1.25rem !important;
  }
}

.youtube_ico {
  width: 100px;
  height: 60px;
  fill: #ff7141;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-cost {
  min-height: 62px;
  background: #ff7141;
  border: none;
  border-radius: 16px;
}

@media (max-width: 48.125rem) {
  .btn-cost {
    margin: 1.875rem auto !important;
  }
}

.btn-cost h3 {
  font-size: 1.5rem !important;
}

.btn-cost.uzor {
  background: url(../assets/img/uzor_knopok.png), #ff7141;
}

.btn-cost.uzor:hover {
  background-color: #0d6efd;
}

.btn-cost.yt {
  background: none;
  border: 2px solid #fff;
}

.btn-cost.yt:hover {
  background: #0d6efd;
}

.embed,
.fr-video {
  display: block;
  position: relative;
  overflow: hidden;
}

.embed:before,
.fr-video:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.embed iframe,
.embed video,
.embed object,
.embed embed,
.fr-video iframe,
.fr-video video,
.fr-video object,
.fr-video embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.work {
  background-image: url(../assets/img/work-bg.jpg);
  background-position: 0 0px, 50% 50%;
  background-size: auto, cover;
}

.work__item {
  margin: 0;
  margin-bottom: 1.25rem;
  max-width: 370px;
  width: 100%;
  height: 370px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#edb66e), to(#ec8b6b));
  background: linear-gradient(to bottom, #edb66e, #ec8b6b);
}

.work__item:hover .work__image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 62rem) {
  .work__item {
    height: 310px;
  }
}

@media (max-width: 48.1875rem) {
  .work__item {
    height: 220px;
  }
}

@media (max-width: 28.1875rem) {
  .work__item {
    margin: 0.9375rem auto;
    width: 370px;
    height: 370px;
  }
}

@media (max-width: 24.5rem) {
  .work__item {
    margin: 0.9375rem auto;
    max-width: 100%;
    height: 370px;
  }
}

.work__image {
  position: absolute;
  bottom: 0;
  right: 2%;
}

.work__image img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nav-link {
  color: #307ba8 !important;
}

.color-red {
  color: #ff1203cf !important;
  text-decoration: none !important;
}

.arrow-down {
  -webkit-animation: translateY 1s ease infinite;
          animation: translateY 1s ease infinite;
  cursor: pointer;
}

@-webkit-keyframes translateY {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes translateY {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.work__name {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 0;
  background-image: url(../assets/img/work__item-text-bg.png);
}

@media (max-width: 75rem) {
  .work__name h1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 62rem) {
  .work__name h1 {
    font-size: 1.5625rem;
  }
}

@media (max-width: 48.1875rem) {
  .work__name h1 {
    font-size: 1.1875rem;
  }
}

@media (max-width: 75rem) {
  .work__name h6 {
    font-size: 0.9375rem;
  }
}

@media (max-width: 62rem) {
  .work__name h6 {
    font-size: 0.8125rem;
  }
}

@media (max-width: 48.1875rem) {
  .work__name h6 {
    font-size: 0.75rem;
  }
}

@media (max-width: 48.1875rem) {
  .work__name {
    padding: 0.3125rem !important;
  }
}

.reviews__sliders {
  padding: 0 6.25rem;
}

@media (max-width: 48.75rem) {
  .reviews__sliders {
    padding: 0 1.875rem;
  }
}

@media (max-width: 32.375rem) {
  .reviews__slider {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .reviews__slider .slider__photo {
    margin: 0 auto !important;
  }
  .reviews__slider .slider__text h2 {
    margin: 0.9375rem 0 !important;
    text-align: center !important;
  }
  .reviews__slider .slider__text p {
    text-align: center;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  font-size: 0;
  border: none;
  position: absolute;
  top: 40%;
  z-index: 10;
  background: url(../assets/img/arrow.svg);
  background-position: center;
}

.slick-next {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-prev {
  left: 0;
}

footer {
  background-color: #000;
}

footer p {
  max-width: 500px !important;
  margin: auto auto;
  font-size: 0.75rem !important;
}

footer p a:hover {
  text-decoration: underline !important;
}

.adres {
  max-width: 280px;
  border: 3px solid #fff;
}

.footer-link:hover {
  text-decoration: underline !important;
}

.footer-link__politic {
  font-size: 0.75rem !important;
}

.footer-link__politic:hover {
  text-decoration: underline !important;
}

@media (max-width: 48.0625rem) {
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 48.0625rem) {
  .footer__img {
    width: 500px;
  }
}

@media (max-width: 32.6875rem) {
  .footer__img {
    width: 400px;
  }
}

@media (max-width: 26.4375rem) {
  .footer__img {
    width: 300px;
  }
}

thead th {
  background-color: #FF903E !important;
  color: #fff;
}
