header {
  padding-top: 2.5rem;
}

header::before {
  content: "";
  position: absolute;
  bottom: -13%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

@media (max-width: 67.6875rem) {
  .header__inner .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center !important;
  }
}

@media (max-width: 25.3125rem) {
  .header__logo {
    width: 300px;
  }
}

.geolocation {
  min-width: 255px !important;
}

@media (max-width: 67.6875rem) {
  .geolocation {
    margin: 0.9375rem 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .geolocation h6,
  .geolocation p,
  .geolocation div {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center !important;
  }
  .geolocation p {
    margin: 0.3125rem 0 !important;
  }
}

.intro-number {
  min-width: 176px !important;
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 61, 85, 0.86)), to(rgba(24, 61, 85, 0.86))), url(../assets/img/intro-bg.jpg);
  background-image: linear-gradient(180deg, rgba(24, 61, 85, 0.86), rgba(24, 61, 85, 0.86)), url(../assets/img/intro-bg.jpg);
  background-position: 0 0px, 50% 50%;
  background-size: auto, cover;
}

.intro__form {
  padding: 0.625rem 2.5rem;
  background-color: #193d55;
  border-radius: 10px;
}

@media (max-width: 29.9375rem) {
  .intro__form {
    padding: 0.3125rem 0.9375rem;
  }
}

.intro__input {
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 16px;
  outline: none !important;
}

.intro-btn {
  padding: 0.9375rem 3.75rem;
  background-color: #ff7141;
  border-color: #ff7141;
}

.intro-btn:hover {
  color: #000 !important;
}

@media (max-width: 29.9375rem) {
  .intro-btn {
    padding: 0.625rem 1.25rem;
    font-size: 0.9375rem !important;
  }
}

.btn-wrapper {
  max-width: 530px;
  bottom: 13%;
  left: -5%;
  padding: 0.625rem 1.25rem;
  border-radius: 16px;
  background-color: #193d55;
}

@media (max-width: 87.5rem) {
  .btn-wrapper {
    bottom: 24%;
  }
}

@media (max-width: 61.9375rem) {
  .btn-wrapper {
    bottom: -4%;
    left: 19%;
  }
}

@media (max-width: 48rem) {
  .btn-wrapper {
    left: 10%;
  }
}

@media (max-width: 30.4375rem) {
  .btn-wrapper {
    padding: 0.3125rem 0.625rem;
  }
}

@media (max-width: 27.875rem) {
  .btn-wrapper {
    left: 5%;
  }
}

@media (max-width: 62.1875rem) {
  .intro-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 30.4375rem) {
  .intro__phone {
    width: 300px;
  }
}

.btn-YT {
  padding: 1.25rem;
  background-color: #fff;
  border: none;
  border-radius: 16px;
  color: #000;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(6, 57, 90, 0.5);
          box-shadow: 0px 0px 30px 0px rgba(6, 57, 90, 0.5);
}

.btn-YT:hover {
  color: #fff;
}

@media (max-width: 75.0625rem) {
  .btn-YT {
    padding: 1.25rem 0.625rem;
  }
  .btn-YT h2 {
    font-size: 1.6875rem !important;
  }
}

@media (max-width: 48rem) {
  .btn-YT h2 {
    font-size: 1.5625rem !important;
  }
}

@media (max-width: 30.4375rem) {
  .btn-YT h2 {
    font-size: 1.25rem !important;
  }
}

.embed,
.fr-video {
  display: block;
  position: relative;
  overflow: hidden;
}

.embed:before,
.fr-video:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.embed iframe,
.embed video,
.embed object,
.embed embed,
.fr-video iframe,
.fr-video video,
.fr-video object,
.fr-video embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.work {
  background-image: url(../assets/img/work-bg.jpg);
  background-position: 0 0px, 50% 50%;
  background-size: auto, cover;
}

.work__item {
  margin: 0 auto;
  width: 370px;
  height: 370px;
  overflow: hidden;
  margin-bottom: 2.1875rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#edb66e), to(#ec8b6b));
  background: linear-gradient(to bottom, #edb66e, #ec8b6b);
}

.work__item:hover .work__image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 28.1875rem) {
  .work__item {
    width: 300px;
    height: 300px;
  }
}

.work__image {
  position: absolute;
  bottom: 0;
  right: 2%;
}

.work__image img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.work__name {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 0;
  background-image: url(../assets/img/work__item-text-bg.png);
}

@media (max-width: 26.4375rem) {
  .reviews__slider {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .reviews__slider .slider__photo {
    margin: 0 auto !important;
  }
  .reviews__slider .slider__text h2 {
    margin: 0.9375rem 0 !important;
    text-align: center !important;
  }
  .reviews__slider .slider__text p {
    text-align: center;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  font-size: 0;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 10;
  background: url(../assets/img/arrow.svg);
  background-position: center;
}

.slick-next {
  right: -3%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 78.125rem) {
  .slick-next {
    right: 30%;
    top: 100%;
  }
}

.slick-prev {
  left: -5%;
}

@media (max-width: 78.125rem) {
  .slick-prev {
    top: 100%;
    left: 30%;
  }
}

footer {
  background-color: #000;
}

.adres {
  max-width: 280px;
  border: 3px solid #fff;
  display: inline-block;
}

.footer-link:hover {
  text-decoration: underline !important;
}

@media (max-width: 48.0625rem) {
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 48.0625rem) {
  .footer__img {
    width: 500px;
  }
}

@media (max-width: 32.6875rem) {
  .footer__img {
    width: 400px;
  }
}

@media (max-width: 26.4375rem) {
  .footer__img {
    width: 300px;
  }
}
